body {
    background-image: url(http://www.hutui6.com/data/out/6/67884162-america-wallpapers.jpeg);
    text-align: center;
    font-family: "Arial";
}
h1{
    color: #F63B3B;
    text-shadow: 2px 2px #ff0000;
    font-size: 100px;
}